@import url('https://fonts.googleapis.com/css2?family=Karla&family=Maven+Pro&display=swap');

/*Visibility*/

.visible {
    display: visible;
}

.hidden {
    display: none; 
}

/*Login page*/
body {
    background-color: #5B5F97;
}

#login-page {
    background-color: #FAFAF6;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
    border-radius: 4px;
    float: center;
}

#login-page h1 {
    font-family: 'Karla';
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    font-size: 48px;
    color: #c97e91;
    letter-spacing: 2px;
}

#form-div {
    font-family: Verdana; 
    margin-left: 30px;
    background-color: #FAFAF6;
}

#form-div h4{
    font-size: 19px;
    padding-top: 3px;
    color: #333233;
}

#form-div input{
    height: 24px;
    width: 220px;
    border-color: #d4d4d6;
    border: 40%;
    border-radius: 2px;
}

#login-page button {
    margin-left: 185px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #e06565;
    color: rgb(255, 255, 255);
    /*
    border: 0;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-color: #f7a3a3;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}


/*Form*/
#info-form h1 {
    text-align: center;
    font-family: 'Karla';
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 40px;
}
  
form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #ccc;
    border-radius: 10px;
    font-family: Verdana;
}

form div {
    padding-top: 15px;
    padding-bottom: 15px;
}

#info-form label {
    font-size: 15px;
    font-weight: 600;
}

#form-group input {
    height: 24px;
    border-color: #ccc;
}

#form-group textarea{
    width: 70vw;
}

#info-form button[type="submit"] {
    width: 100%;
    background-color: #2F6478;
    color: white;
    padding: 10px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/* Add hover effect to the submit button */
#info-form button[type="submit"]:hover {
    background-color: #437C90;
}


/*Navbar*/
#nav-bar {
    bottom: 1px;
    position: fixed;
    background-color: #0F252F;
    left: 50%;
    right: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}

#nav-bar button {
    padding: 10px;
    left: 30px;
}

